.advance-mutual-fund .top-header {
    height: 200px;
    width: 100%;
    background-image: url('../images/header-inside-curve.svg');
    background-size: cover;
    background-position: bottom;

}

.advance-mutual-fund .learn-background {
    height: 600px;
    width: 100%;
    background-image: url('../images/learn-bg.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;


}

.advance-mutual-fund .investment h3 {
    display: inline-block;
    background-color: #F8A03F;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}

.advance-mutual-fund .investment h3, .advance-mutual-fund .investment
h2 {
    color: #335790;
}

.advance-mutual-fund #chapter-1 {
    background-color: #FEF7EB;
}

.advance-mutual-fund #chapter-2 {
    background-color: #F5FAFB;
}

.advance-mutual-fund #chapter-3 {
    background-color: #FDF5E3;
}

.advance-mutual-fund #chapter-4 {
    background-color: #F5F9FB;
}
.advance-mutual-fund #chapter-5 {
    background-color: #FDF5E3;
}

.advance-mutual-fund .curve {
    height: 50px;
    width: 100%;
    background-image: url('../images/gradient-curve.png');
    background-position: top;
    background-size: cover;
}

.advance-mutual-fund .curve-grey {
    height: 50px;
    width: 100%;
    background-image: url('../images/gradient-curve-grey.png');
    background-position: top;
    background-size: cover;
}

.advance-mutual-fund .investment .row {
    padding: 80px 100px 10px;
}

.advance-mutual-fund .chapter-index {
    border-radius: 10px;
    box-shadow: 3px 3px 5px gray;
    margin-top: 10px;
    padding: 30px 30px 0 30px;
    background-color: #FFFFFF;
    position: absolute;
    
    margin: -50px 100px 0px 100px;
}
.advance-mutual-fund .investment{padding-top: 30px;}
.advance-mutual-fund .chapter-menu {
    margin-bottom: 0;
}

.advance-mutual-fund .chapter-menu ul {
    list-style: none;
}

.advance-mutual-fund .chapter-menu ul li {
    display: inline-block;
    border-right: 2px solid #E5E5E5;
    margin-bottom: 0;
}

.advance-mutual-fund .chapter-menu ul li:last-child {
    border-right: none;
}

.advance-mutual-fund .chapter-menu ul li a {
    display: block;
    text-decoration: none;
    padding: 10px 30px;
    border-bottom: 3px solid #FFFFFF;
}

.advance-mutual-fund .chapter-menu ul li a:active {
    border-bottom: 3px solid #97291E;
}

.advance-mutual-fund .chapter-menu ul li a:hover {
    border-bottom: 3px solid #97291E;
}

.advance-mutual-fund .chapter-menu select {
    display: none;
}

@media (max-width: 960px) {
    .advance-mutual-fund .chapter-menu ul {
        display: none;
    }

    .advance-mutual-fund .chapter-menu select {
        display: inline-block;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        color: #FF6130;
    }
}

.advance-mutual-fund .chapter-bottom-card {
    box-shadow: 5px 5px 30px gray;
    margin: 0 100px 50px 100px;
    padding: 20px 20px;

    border-radius: 7px;
}

.advance-mutual-fund .chapter-bottom-card div {
    margin: 15px 15px;
}

.advance-mutual-fund .chapter-bottom-card h5 {
    color: #204181;
}

.advance-mutual-fund .chapter-bottom-card p {
    color: #707A86;
}

.advance-mutual-fund .chapter-bottom-card .btn {
    border-radius: 20px;
    padding: 5px 20px;
    background-color: #FC761E;
}

.advance-mutual-fund .chapter-bottom-card .btn:hover {
    background-color: #B32D2F;
}

.advance-mutual-fund .custom-card {
    padding: 20px 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 10px 10px 50px gray;
    color: #FF5824;
    margin: 10px 0px;
}

.advance-mutual-fund .custom-card p {
    margin: 0;
}

.advance-mutual-fund hr.line-2 {

    width: 80px;
    height: 4px;
    background-color: #B02A30;
    opacity: 100%;
    text-align: center;
    margin: auto;

}

.advance-mutual-fund hr.line {
    width: 80px;
    height: 4px;
    background-color: #B02A30;
    opacity: 100%
}


.advance-mutual-fund .chapter-number {

    display: inline-block;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-left: 5px;
    text-align: center;
    padding-top: 2px;

}

.advance-mutual-fund .chapter-4-bottom-curve {

    height: 100px;
    width: 100%;
    background-image: url('../images/gradient-curve-grey.png');
    background-position: top;
    /* background-attachment: fixed; */
    background-size: cover;
}

.advance-mutual-fund .chapter-4-bottom-img {
    width: 100%;
    height: 250px;
    background-image: url('../images/chapter4.jpg');
    background-position: top;
    background-size: cover;
    position: absolute;
    
}

.advance-mutual-fund .chapter-bottom-btn{margin: -70px 0 0 0;}
.advance-mutual-fund .chapter-bottom-btn a{margin:0 30px;padding: 50x;}
.advance-mutual-fund .chapter-bottom-btn .btn{border-radius: 20px; padding: 10px 15px;}
.advance-mutual-fund .chapter-bottom-btn .btn:hover{background-color: #B22C30; color: #FFFFFF;}

/* videos */


@media (max-width:830px) {
    .advance-mutual-fund .chapter-index{ margin-left: 10px; margin-right: 10px;}
    .advance-mutual-fund .investment{margin-top: 20px; padding-top: 50px;}
    .advance-mutual-fund .investment .row {
        padding: 80px 50px 10px;
    }
    .advance-mutual-fund .chapter-bottom-card {margin: 0 50px 50px 50px;}
}
@media (max-width:630px) {
    /* .chapter-index{ margin-bottom: 200px; padding: 100px;} */
    .advance-mutual-fund .investment{margin-top: 20px; padding-top: 80px;}
}
@media (max-width:550px) {
    /* .chapter-index{ margin-bottom: 200px; padding: 100px;} */
    .advance-mutual-fund .investment{margin-top: 20px; padding-top: 100px;}
}
@media (max-width:500px) {
    /* .chapter-index{ margin-bottom: 200px; padding: 100px;} */
    .advance-mutual-fund .investment{margin-top: 20px; padding-top: 150px;}
}
@media (max-width:450px) {
    /* .chapter-index{ margin-bottom: 200px; padding: 100px;} */
    .advance-mutual-fund .investment{margin-top: 20px; padding-top: 200px;}
}
@media (max-width:425px) {
    /* .chapter-index{ margin-bottom: 200px; padding: 100px;} */
    .advance-mutual-fund .investment{margin-top: 20px; padding-top: 260px;}
}
